{% extends 'base.html' %}

{% block title %}{{ page.title }}{% endblock %}
{% block content %}

{{ page.content }}
<!-- <section class="pt-5 pb-5">
  <div class="container">

  </div>
</section> -->
<section class="section-with-bg default-page">
  <div class="container" data-aos="fade-up">
      <div class="section-header">
          <h2>{{ page.title }}</h2>
      </div>
      <div class="p-5 mb-5 border rounded text-justify">
          {{ page.content }}
      </div>
  </div>
</section>

{% endblock %}