{%extends 'base.html'%}

{% block title %}{{SITENAME}}{% endblock %}

{% block meta %}
<meta name="title" content="Surabaya.py">
<meta name="description"
    content="Python User Group Chapter Surabaya is a community based on Surabaya focused on Python programming language. We welcome anyone who want to learn Python or someone who want to help others.">

<!-- Open Graph / Facebook -->
<meta property="og:type" content="website">
<meta property="og:url" content="{{SITEURL}}">
<meta property="og:title" content="Surabaya.py">
<meta property="og:description"
    content="Python User Group Chapter Surabaya is a community based on Surabaya focused on Python programming language. We welcome anyone who want to learn Python or someone who want to help others.">
<meta property="og:image" content="{{SITEURL}}/assets/image/icon.png">

<!-- Twitter -->
<meta property="twitter:card" content="summary_large_image">
<meta property="twitter:url" content="{{SITEURL}}">
<meta property="twitter:title" content="Surabaya.py">
<meta property="twitter:description"
    content="Python User Group Chapter Surabaya is a community based on Surabaya focused on Python programming language. We welcome anyone who want to learn Python or someone who want to help others.">
<meta property="twitter:image" content="{{SITEURL}}/assets/image/icon.png">
{% endblock %}

{% block content %}
<!-- ======= Hero Section ======= -->
<section id="hero">
  <div id="heroCarousel" class="carousel slide carousel-fade" data-ride="carousel">

    <ol class="carousel-indicators" id="hero-carousel-indicators"></ol>

    <div class="carousel-inner" role="listbox">

      <!-- Slide 1 -->
      <div class="carousel-item active" style="background-image: url('assets/image/hero/surabayapy.jpg')">
        <div class="carousel-container">
          <div class="container">
            <h2 class="animate__animated animate__fadeInDown secondary-text">Selamat datang di 
              Surabaya.py
            </h2>
            <p class="animate__animated animate__fadeInUp">Sebuah komunitas yang berbasis di Surabaya yang berfokus pada bahasa pemrograman Python. Kami menyambut siapa saja yang ingin belajar Python atau seseorang yang ingin membantu orang lain terkait teknologi.</p>
          </div>
        </div>
      </div>

      <!-- Slide 2 -->
      <div class="carousel-item" style="background-image: url('assets/image/hero/surabayapy-pycon2019.jpg')">
        <div class="carousel-container">
          <div class="container">
            <h2 class="animate__animated animate__fadeInDown secondary-text">Python Conference Indonesia
            </h2>
            <p class="animate__animated animate__fadeInUp">Surabaya.py adalah inisiator pertama terbentuknya PyConID pada tahun 2017
              dan juga penyelenggara PyConID 2019 di kota Surabaya.
            </p>
          </div>
        </div>
      </div>

      <!-- Slide 3 -->
      <div class="carousel-item" style="background-image: url('assets/image/hero/surabayapy-to-campus.jpg')">
        <div class="carousel-container">
          <div class="container">
            <h2 class="animate__animated animate__fadeInDown secondary-text">Berbagi ilmu melalui workshop, seminar dan webinar
            </h2>
            <p class="animate__animated animate__fadeInUp">Belajar dengan cara mengajarkan adalah cara yang terbaik. Sebagian besar kita akan berbicara mengenai IoT, Web, Data dan Machine Learning.</p>
          </div>
        </div>
      </div>

    </div>

    <a class="carousel-control-prev" href="#heroCarousel" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon icofont-simple-left" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>

    <a class="carousel-control-next" href="#heroCarousel" role="button" data-slide="next">
      <span class="carousel-control-next-icon icofont-simple-right" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>

  </div>
</section><!-- End Hero -->

<section class="pt-5 pb-5">
  <div class="container">
    <div class="row">
      <div class="col-12 text-center mt-3">
        <h2 class="grey-text secondary-font font-weight-bolder"><strong>Kegiatan Komunitas</strong></h2>
      </div>
      <div class="col-12">
        <div id="carouselExampleIndicators2" class="carousel slide" data-ride="carousel">

          <div class="carousel-inner">
            <div class="carousel-item active">
              <div class="row">

                <div class="col-md-4 mb-3">
                  <div class="card border-light">
                    <img class="img-fluid" alt="webinar"
                      src="assets/image/event/webinar-juli-2021.jpg">
                    <div class="card-body grey-light-bg">
                      <h4 class="card-title primary-text secondary-font font-weight-bolder">Webinar Juli 2021</h4>
                      <p class="card-text grey-light-text font-14">Yuk kita produktif di weekend, bareng Setia Budi dan Donnie Prakoso di ...</p>
                      <div class="text-center">
                        <!-- <a class="p-2 px-5 text-black hover:text-black rounded-pill font-weight-bold bg-gray-500 hover:bg-gray-500">Daftar Disini</a> -->
                        <a class="p-2 px-5 text-black hover:text-black rounded-pill font-weight-bold bg-gray-500 hover:bg-gray-500">Daftar Disini</a>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="col-md-4 mb-3">
                  <div class="card border-light">
                    <img class="img-fluid" alt="webinar"
                      src="assets/image/event/webinar-juni-2021.png">
                    <div class="card-body grey-light-bg">
                      <h4 class="card-title primary-text secondary-font font-weight-bolder">Webinar Juni 2021</h4>
                      <p class="card-text grey-light-text font-14">Berkolaborasi dengan Rakhman Wahid membawakan materi Asynchronous dan ...</p>
                      <div class="text-center">
                        <a class="p-2 px-5 text-black hover:text-black rounded-pill font-weight-bold bg-gray-500 hover:bg-gray-500">Daftar Disini</a>
                      </div>
                    </div>
                  </div>
                </div>
                
                <div class="col-md-4 mb-3">
                  <div class="card border-light">
                    <img class="img-fluid" alt="webinar"
                      src="assets/image/event/webinar.jpg">
                    <div class="card-body grey-light-bg">
                      <h4 class="card-title primary-text secondary-font font-weight-bolder">Webinar April 2020</h4>
                      <p class="card-text grey-light-text font-14">Webinar April menghadirkan 4 pembicara...</p>
                      <div class="text-center">
                        <a class="p-2 px-5 text-black hover:text-black rounded-pill font-weight-bold bg-gray-500 hover:bg-gray-500">Daftar Disini</a>
                      </div>
                    </div>
                  </div>
                </div>

              </div>
            </div>
           <!-- <div class="carousel-item">
             <div class="row">

               <div class="col-md-4 mb-3">
                 <div class="card">
                   <img class="img-fluid" alt="100%x280"
                     src="http://placehold.it/380?text=4">
                   <div class="card-body">
                     <h4 class="card-title">Nama Event</h4>
                     <p class="card-text">Sequi ea ut et est quaerat sequi nihil ut aliquam.</p>

                   </div>

                 </div>
               </div>
               <div class="col-md-4 mb-3">
                 <div class="card">
                   <img class="img-fluid" alt="100%x280"
                     src="http://placehold.it/380?text=5">
                   <div class="card-body">
                     <h4 class="card-title">Nama Event</h4>
                     <p class="card-text">Sequi ea ut et est quaerat sequi nihil ut aliquam.</p>

                   </div>
                 </div>
               </div>
               <div class="col-md-4 mb-3">
                 <div class="card">
                   <img class="img-fluid" alt="100%x280"
                     src="http://placehold.it/380?text=6">
                   <div class="card-body">
                     <h4 class="card-title">Nama Event</h4>
                     <p class="card-text">Sequi ea ut et est quaerat sequi nihil ut aliquam.</p>

                   </div>
                 </div>
               </div>

             </div>
           </div> -->
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

{% endblock %}
