<meta charset="utf-8">
<meta content="width=device-width, initial-scale=1.0" name="viewport">

<meta name="title" content="Surabaya.py">
<meta name="description"
    content="Python User Group Chapter Surabaya is a community based on Surabaya focused on Python programming language. We welcome anyone who want to learn Python or someone who want to help others.">

<!-- Open Graph / Facebook -->
<meta property="og:type" content="website">
<meta property="og:url" content="{{SITEURL}}">
<meta property="og:title" content="Surabaya.py">
<meta property="og:description"
    content="Python User Group Chapter Surabaya is a community based on Surabaya focused on Python programming language. We welcome anyone who want to learn Python or someone who want to help others.">
<meta property="og:image" content="{{SITEURL}}/assets/image/icon.png">

<!-- Twitter -->
<meta property="twitter:card" content="summary_large_image">
<meta property="twitter:url" content="{{SITEURL}}">
<meta property="twitter:title" content="Surabaya.py">
<meta property="twitter:description"
    content="Python User Group Chapter Surabaya is a community based on Surabaya focused on Python programming language. We welcome anyone who want to learn Python or someone who want to help others.">
<meta property="twitter:image" content="{{SITEURL}}/assets/image/icon.png">