<div class="row">
  <div class="col-sm-12">
    {% if SITEIMAGE %}
    <a href="{{ SITEURL }}/"><img class="img-fluid rounded" src={{ SITEURL }}{{ SITEIMAGE }} alt="{{ SITENAME }}" style="height:100px"></a>
    {% else %}
    <h1 class="title"><a href="{{ SITEURL }}/">{{ SITENAME }}</a></h1>
    {% endif %}
    {% if SITESUBTITLE %}
      <h2 class="text-muted">{{ SITESUBTITLE }}</h2>
    {% endif %}
    {% if LINKS or (DISPLAY_PAGES_ON_MENU and pages) or ICONS %}
      <ul class="list-inline">
        {% for title, link in LINKS %}
          <li class="list-inline-item"><a href="{{ link }}" target="_blank">{{ title }}</a></li>
        {% endfor %}
        {% if DISPLAY_PAGES_ON_MENU %}
          {% for page in pages %}
            {% if LINKS and loop.first %}
              <li class="list-inline-item text-muted">|</li>
            {% endif %}
            <li class="list-inline-item"><a href="{{ SITEURL }}/{{ page.url }}">{{ page.title }}</a></li>
          {% endfor %}
        {% endif %}
        {% for icon, link in ICONS %}
          {% if (LINKS or (DISPLAY_PAGES_ON_MENU and pages)) and loop.first %}
            <li class=" list-inline-item text-muted">|</li>
          {% endif %}
          <li class="list-inline-item"><a class="fa fa-{{ icon }}" href="{{ link }}" target="_blank"></a></li>
        {% endfor %}
      </ul>
    {% endif %}
  </div>
</div>
